*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: brown
}
header{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    width: 50px;
    height: 30px;
}
.container{
    
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#grid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    width: 650px;
    height: 650px;
    color: #fff;

}

#grid .cell{
    border: 1px solid #fff;
    width: calc(100% / 10);
    height:calc(100% / 10) ;

    display:flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

#grid .cell.clicked{
    cursor: not-allowed;
    background-color: dodgerblue;
}
